@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500;700&family=Pacifico&family=Trykker&display=swap');

:root {
  --primary: #3B7ABD;
  --secondary: #F28243;
  --tertiary: #264B72;
  --footer: #303030;
  --green: #74C384;
  --danger: #A10303;
}

* {
  margin: 0px;
  padding: 0px;
}

.pacifico {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.trykker {
  font-family: 'Trykker', serif;
}


.bebas {
  font-family: 'Bebas Neue', serif;
}


.opensans {
  font-family: 'Open Sans', sans-serif;
}


.capitalize{
  text-transform: capitalize;
}

.property-header {
  display: flex;
}

.icon-container {
  padding-right: 2rem;
}

.font-primary {
  color: var(--primary);
}

.font-tertiary {
  color: var(--tertiary);
}

.font-gray {
  color: var(--footer);
}

.bolder {
  font-weight: 700;
}

.material-symbols-rounded {
  font-size: 16px !important;
  height: 16px;
}


/* Helpers */
.has-max-width {
  max-width: 550px;
  padding: 2rem;
  border: 1px solid var(--primary);
  border-radius: 11px;
  background-color: white;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

/* Header Section */
header {
  background-color: white;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

.logo-brand {
  height: 79px;
  width: 141px;
}

.navbar-end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: .8rem;
  text-decoration: none;
  padding: 0px 1rem;
  color: var(--primary);
}

.navbar-item.active, .navbar-item.active span {
  color: var(--secondary);
}

.image-profile-column {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.content-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profile-picture{
  width: 300px;
  height: 350px;
  overflow: hidden;
}

.profile-picture img {

  border-radius: 100%;
}

.icon-large {
  font-size: 35px !important;
  height: 35px;
  color: var(--primary);
}

.icon-xxl {
  font-size: 50px !important;
  height: 50px;

}

.link-user {
  text-decoration: none;
  color: var(--primary);
}

/* Search Area */

.search {
  background-color: var(--primary);
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-search {
  background-color: white !important;
  border-radius: 0px 40px 40px 0px !important;
  color: var(--primary) !important;
  display: flex !important;

}

.service-pro-search {
  background-color: var(--light);
}

.icon-medium {
  font-size: 20px !important;
  height: 20px !important;
}

.input-group {
  max-width: 550px;
  margin: .4rem;
  background-color: white;
  border-radius: 40px;
}

.input-group .form-control:first-of-type {
  border-radius: 40px 0px 0px 40px;
  border: none;
}

.input-group .form-select {
  border: none;
  border-left: 1px solid var(--primary);
}

/* Hero Section */

.hero {
  width: 100%;
  height: 65vh;
  background-image: url(/public/images/background_my_home_services.jpg);
  background-size: cover;
  background-position: center 85%;
  margin-bottom: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-body {
  position: relative;
  z-index: 1;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Buttons */
.color-primary {
  background-color: var(--primary) !important;
  border: none !important;
  padding: .7rem 1.5rem !important;
  text-transform: uppercase;
  margin: 1rem 0rem;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

.color-tertiary {
  background-color: var(--tertiary) !important;
  border: none !important;
  padding: .7rem 1.5rem !important;
  text-transform: uppercase;
  margin: 1rem 0rem;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

.number-icon {
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.color-secondary {
  background-color: var(--secondary) !important;
  border: none !important;
  padding: .7rem 1.5rem !important;
  text-transform: uppercase;
  margin: 1rem 0rem;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 1s;
}

.color-secondary:hover {
  background-color: var(--green)!important;
}

.color-danger {
  background-color: var(--danger) !important;
  border: none !important;
  padding: .7rem 1.5rem !important;
  text-transform: uppercase;
  margin: 1rem 0rem;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 1s;
}

.color-danger:hover {
  background-color: var(--green)!important;
}

.color-green {
  background-color: var(--green) !important;
  border: none !important;
  padding: .7rem 1.5rem !important;
  text-transform: uppercase;
  margin: 1rem 0rem;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  transition: background-color .7s;
}

.color-green:hover {
  background-color: var(--primary)!important;
}

.service-provider {
  color: var(--secondary)
}

.nav-pills .nav-link {
  transition: background-color .7s;
}

.nav-pills .nav-link.active {
  background-color: var(--primary) !important;
}

.nav-pills .nav-link:hover {
  background-color: var(--secondary) !important;
  color: white;

}

.button-primary {
  background-color: var(--primary);
  border: 0px;
}


.button-green {
  background-color: var(--green);
  border: 0px;
}

.button-tertiary {
  background-color: var(--tertiary);
  border: 0px;
}

/* Cards - admin */
.card {
  border-radius: 10px!important;
}

.card-admin-properties {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-width: 320px;
  margin-bottom: 2rem;
  width: 100%;
}


.card-admin-properties .card-header {
  background-color: var(--primary);
  color: white;
  padding: .75rem;
  border-radius: 10px 10px 0px 0px!important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}


.card-admin-properties.task-card .card-header {
  background-color: var(--tertiary);
  color: white;
  padding: .75rem;
  border-radius: 10px 10px 0px 0px!important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.task-card-wide {
  margin: 2rem 0px;
  border: 0px!important;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

.task-card-wide .card-header {
  background-color: var(--tertiary);
  color: white;
  padding: .75rem;
  border-radius: 10px 10px 0px 0px!important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}


.card-with-image {
  display: grid;
  grid-template-columns: 40% 60%;
  min-height: 135px;
}

.image-thumb-card {
  padding: .5rem;
  width: 100%;
  height: auto;
}

.service-cat-card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.image-thumb-card img {
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.card-admin-properties .card-body {
  padding: 1rem;
  display: flex;
}

.card-admin-properties .card-body div {
  padding: 2rem .5rem .5rem .5rem;
}


.buttons-card {
  display: flex;
  justify-content: space-evenly;

}

.buttons-card button {
  flex-grow: 1;
}

.buttons-card button:first-of-type {
  border-radius: 0px 0px 0px 10px;
}

.buttons-card button:last-of-type {
  border-radius: 0px 0px 10px 0px;
}

.card-desc {
  min-height: 135px;
}



.card-button {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: background-color .7s;
}

.card-button:hover {
  background-color: var(--secondary);
}



.card-button p {
  margin: 0px;
  font-size: .7rem;
  text-transform: uppercase;
}


.task-image-thumb {
  width: 150px;
  height: auto;

}

/* Website General */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.button-organizer {
  display: flex;
  align-items: center;
  text-align: center;
}

.button-organizer span {
  padding-left: 10px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Footer */
footer {
  background-color: var(--footer);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}

.footer-logo {
  margin-top: -2.9rem;
}

.footer-item {
  text-decoration: none;
  color: white;
  padding-bottom: 1rem;
}

.footer-item:hover {
  color: var(--secondary);
}

@media (max-width: 991px) {
  .mobile-hidden {
    display: none;
  }


  .logo-brand {
    width: 100px;
    height: 50px;
  }

  .icon-xxl {
    font-size: 35px !important;
    height: 35px;
  }

  .navbar-end {
    font-size: .7rem;
  }
}


/* servieprovider section */
.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: .8rem;
  text-decoration: none;
  padding: 0px 1rem;
  color: var(--light);
  text-align: center;
}

.service-provider-card {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 2rem;
  margin: 1rem 2rem;
  height: 300px;
}



.servieprovider-profile-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.has-max-width {
  padding: .75rem;
  width: 100%;
  border: none;
  margin: 0px;
  box-shadow: none;
}

.task-profile-pic {
  height: 80%;
  width: 80%;
  object-fit: cover;
}
.task{
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin: 1rem 2rem;
  height: 300px;
}