@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500;700&family=Pacifico&family=Trykker&display=swap");

:root {
  --primary: #3b7abd;
  --secondary: #f28243;
  --tertiary: #264b72;
  --footer: #303030;
  --green: #74c384;
  --danger: #a10303;
  --white: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
}

.pacifico {
  font-family: "Pacifico", cursive;
  text-align: center;
}

.trykker {
  font-family: "Trykker", serif;
}

.bebas {
  font-family: "Bebas Neue", serif;
}

.opensans {
  font-family: "Open Sans", sans-serif;
}

.capitalize {
  text-transform: capitalize;
}

.property-header {
  display: flex;
}

.icon-container {
  padding-right: 2rem;
}

.font-primary {
  color: var(--primary);
}

.font-tertiary {
  color: var(--tertiary);
}

.font-gray {
  color: var(--footer);
}

.bolder {
  font-weight: 700;
}

.material-symbols-rounded {
  font-size: 16px !important;
  height: 16px;
}

.background-tertiary {
  background-color: var(--tertiary) !important;
}

.leaflet-container {
  height: 500px;
}

/* Helpers */
.has-max-width {
  max-width: 550px;
  padding: 2rem;
  border: 1px solid var(--primary);
  border-radius: 11px;
  background-color: white;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

/* Header Section */
header {
  background-color: white;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

.logo-brand {
  height: 79px;
  width: 141px;
}

.navbar-end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 0px 1rem;
  color: var(--primary);
}

.navbar-item.active,
.navbar-item.active span {
  color: var(--secondary);
}

.image-profile-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profile-thumb {
  width: 200px;
  height: auto;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 2rem 1rem;
}

.profile-thumb img {
  border-radius: 10px;
  object-fit: contain;
}

.profile-picture {
  width: 300px;
  height: auto;
  overflow: hidden;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.profile-picture img {
  border-radius: 10px;
  object-fit: contain;
}

.icon-medium {
  font-size: 25px !important;
  height: 25px;
}

.icon-large {
  font-size: 35px !important;
  height: 35px;
  color: var(--primary);
}

.icon-xxl {
  font-size: 50px !important;
  height: 50px;
}

.link-user {
  text-decoration: none;
  color: var(--primary);
}

/* Search Area */

.search {
  background-color: var(--primary);
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-search {
  background-color: white !important;
  border-radius: 0px 40px 40px 0px !important;
  color: var(--primary) !important;
  display: flex !important;
}

.home-categories {
  color: var(--primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0px;
  background-color: transparent;
}

.home-categories:hover {
  color: var(--secondary);
}

.service-pro-search {
  background-color: var(--light);
}

.icon-medium {
  font-size: 20px !important;
  height: 20px !important;
}

.input-group {
  max-width: 550px;
  margin: 0.4rem;
  background-color: white;
  border-radius: 40px;
}

.input-group .form-control:first-of-type {
  border-radius: 40px 0px 0px 40px;
  border: none;
}

.input-group .form-select {
  border: none;
  border-left: 1px solid var(--primary);
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
}

.loading-body {
  width: auto;
  height: auto;
  z-index: 99;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}

/* Hero Section */

.hero {
  width: 100%;
  height: 65vh;
  background-image: url(/public/images/background_my_home_services.jpg);
  background-size: cover;
  background-position: center 85%;
  margin-bottom: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-body {
  position: relative;
  z-index: 1;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Buttons */
.color-primary {
  background-color: var(--primary) !important;
  border: none !important;
  padding: 0.7rem 1.5rem !important;
  text-transform: uppercase;
  margin: 1rem 0rem;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

.color-white {
  background-color: var(--white) !important;
  border: 2px solid var(--primary) !important;
  padding: 0.7rem 1.5rem !important;
  text-transform: uppercase;
  margin: 1rem 0rem;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.7s;
}

.color-white:hover {
  background-color: #3b7abd !important;
  color: white !important;
}

.color-white:hover span {
  color: white !important;
}

.color-tertiary {
  background-color: var(--tertiary) !important;
  border: none !important;
  padding: 0.7rem 1.5rem !important;
  text-transform: uppercase;
  margin: 1rem 0rem;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

.number-icon {
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.color-secondary {
  background-color: var(--secondary) !important;
  border: none !important;
  padding: 0.7rem 1.5rem !important;
  text-transform: uppercase;
  margin: 1rem 0rem;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 1s;
}

.color-secondary:hover {
  background-color: var(--green) !important;
}

.color-danger {
  background-color: var(--danger) !important;
  border: none !important;
  padding: 0.7rem 1.5rem !important;
  text-transform: uppercase;
  margin: 1rem 0rem;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 1s;
}

.color-danger:hover {
  background-color: var(--green) !important;
}

.color-green {
  background-color: var(--green) !important;
  border: none !important;
  padding: 0.7rem 1.5rem !important;
  text-transform: uppercase;
  margin: 1rem 0rem;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.7s;
}

.color-green:hover {
  background-color: var(--primary) !important;
}

.service-provider {
  color: var(--secondary);
}

.nav-pills .nav-link {
  transition: background-color 0.7s;
}

.nav-pills .nav-link.active {
  background-color: var(--primary) !important;
}

.nav-pills .nav-link:hover {
  background-color: var(--secondary) !important;
  color: white;
}

.button-primary {
  background-color: var(--primary);
  border: 0px;
}

.button-green {
  background-color: var(--green);
  border: 0px;
}

.button-tertiary {
  background-color: var(--tertiary);
  border: 0px;
}

/* Cards - admin */
.card {
  border-radius: 10px !important;
  border:none!important;
}

.card-admin-properties {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-width: 320px;
  margin-bottom: 2rem;
  width: 100%;
}

.card-admin-properties .card-header {
  background-color: var(--primary);
  color: white;
  padding: 0.75rem;
  border-radius: 10px 10px 0px 0px !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.card-admin-properties.task-card .card-header {
  background-color: var(--tertiary);
  color: white;
  padding: 0.75rem;
  border-radius: 10px 10px 0px 0px !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.task-card-wide {
  margin: 2rem 0px;
  border: 0px !important;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

.task-card-wide .card-header {
  background-color: var(--tertiary);
  color: white;
  padding: 0.75rem;
  border-radius: 10px 10px 0px 0px !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.service-provider-card .card-header {
  background-color: var(--primary);
  color: white;
  padding: 0.75rem;
  border-radius: 10px 10px 0px 0px !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.card-with-image {
  display: grid;
  grid-template-columns: 40% 60%;
  min-height: 140px;
}

.image-thumb-card {
  padding: 0.5rem;
  width: 100%;
  height: auto;
}

.service-cat-card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.image-thumb-card img {
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.card-admin-properties .card-body {
  padding: 1rem;
  display: flex;
}

.card-body.is-column {
  flex-direction: column;
}

.card-admin-properties .card-body div {
  padding: 2rem 0.5rem 0.5rem 0.5rem;
}

.buttons-card {
  display: flex;
  justify-content: space-evenly;
}

.buttons-card button {
  flex-grow: 1;
}

.buttons-card button:first-of-type {
  border-radius: 0px 0px 0px 10px;
}

.buttons-card button:last-of-type {
  border-radius: 0px 0px 10px 0px;
}

.card-desc {
  min-height: 135px;
}

.card-button {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.7s;
}

.card-button:hover {
  background-color: var(--secondary);
}

.card-button p {
  margin: 0px;
  font-size: 0.7rem;
  text-transform: uppercase;
}


.address {
  display: block;
}

.address.is-hidden {
  display: none;
}


.task-image-thumb {
  width: 150px;
  height: auto;
}

/* Website General */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-organizer {
  display: flex;
  align-items: center;
  text-align: center;
}

.button-organizer span {
  padding-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.svg-inline--fa {
  color: white;
  font-size: 30px;
  padding: 0px 1rem;
}

/* Footer */
footer {
  background-color: var(--footer);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-logo {
  margin-top: -2.9rem;
}

.footer-item {
  text-decoration: none;
  color: white;
  padding-bottom: 1rem;
}

.footer-item:hover {
  color: var(--secondary);
}
@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }

  .mainfooter-nav {
    display: none;
  }

  .text-search {
    display: none;
  }
}



/* servieprovider section */
.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 0px 1rem;
  color: var(--light);
  text-align: center;
}

.service-provider-card {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 2rem;
  margin: 1rem 2rem;
  height: 300px;
}

.servieprovider-profile-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.has-max-width {
  padding: 0.75rem;
  width: 100%;
  border: none;
  margin: 0px;
  box-shadow: none;
}

.task-profile-pic {
  height: 80%;
  width: 80%;
  object-fit: cover;
}
.task {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin: 1rem 2rem;
  height: 300px;
}

/*AboutUS section*/
.AboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.About {
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  margin-top: 10 px;
  padding: 1rem;
}

.AboutDesc {
  text-align: center;

}

.foundersPic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: gray;
  object-fit: cover;
}

.toast {
  position: absolute;
  z-index: 100;
  top: 50px;
  left: 20px;
}

@media (max-width: 768px) {
  .circle {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .circle {
    width: 100px;
    height: 100px;
  }
}

.OurCompany {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  max-height: 10%;
  background-color: rgb(215, 215, 215);
}

.companytext {
  max-width: 550px;
  padding-left: 2rem;
  justify-content: flex-start;
}

.Contactline {
  text-align: center;
  line-height: 1.5;
  padding-left: 4rem;
  padding-right: 4rem;
}

.Contact-us-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;

  background-color: rgb(230, 230, 230);
}

.Contact-Form {
  justify-content: flex-start !important;

  min-width: 320px;
}

.ContactPara {
  font-size: large !important;
}

@media (max-width: 991px) {

  body.no-scroll {
    overflow: hidden;
  }


  .buttons-profie .color-primary,   .buttons-profie .color-green {
    width: 220px;
  }

  .service-provider-card {
    margin: 1rem .25rem;
  }

  .service-provider-card .color-primary  {
    margin: 1rem 0px 0px;
  }

  .task-card-wide .color-tertiary  {
    margin: 0px auto;
    width: 200px;
  }

  .task-card-wide .color-green  {
    width: 200px;
  }

  .task-card-wide .card-header .button-organizer {
    display: flex;
    flex-direction: column;
    font-size: .7rem;
  }

  .task-card-wide .card-header {
    align-items: center;
  }

  #searchform .input-group {
    flex-direction: column;
    background-color: transparent;
    gap: .7rem;
  }

  #searchform input[type=text],#searchform select {
    background-color: white!important;
    width: 90%;
    border-radius: 10px;
    margin: .75rem auto 0px;
  }

  #searchform .btn-search {
    background-color: var(--green)!important;
    width: 90%;
    margin: .25rem auto .75rem;
    border-radius: 10px!important;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #searchform .btn-search span {
    color: white;

  }


  .search {
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    background-color: var(--tertiary);
    transition: all .7s;
    z-index: 97;
  }


  .search.mobile-hidden {
    transform: translateY(100%);
  }

  .search {
    transform: translateY(0);
  }

  .mobile-hidden {
    display: none;
  }

  .logo-brand {
    width: 100px;
    height: 50px;
  }

  .icon-xxl {
    font-size: 35px !important;
    height: 35px;
  }

  .navbar-end {
    font-size: 0.7rem;
  }

  .mobile-nav {
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    justify-content: space-evenly;
    transition: transform 0.3s ease-in-out;
    z-index: 10;
  }

  .mobile-nav.is-hidden {
    transform: translateY(100%);
  }

  .mobile-nav.is-visible {
    transform: translateY(0);
  }

  .navfooter-item {
    color: white;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 0.7rem;
    padding: 0.7rem 0px;
    height: 56px;
    flex-grow: 1;
  }

  .navfooter-item.searchnav {
    background-color: var(--green);
    padding: 1rem 0px 0.7rem;
    height: 64px;
    border-radius: 10px 10px 0px 0px;
    border:0px;
  }

  .mainfooter-nav {
    display: flex;
    align-items: flex-end;
    position: fixed;
    flex-direction: column;
    bottom: 56px;
    left: 0px;
    right: 0px;
    justify-content: space-evenly;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    background-color: #fff;
    color: var(--primary);
    box-shadow: 1px -3px -15px rgba(0, 0, 0, 0.2);
  }

  .mainfooter-nav.hidden {
    transform: translateY(400px);
  }

  .mainfooter-nav.visible {
    transform: translateY(0);
  }

  .footer-nav {
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: left;
    width: 100%;
    display: flex;
    color: var(--footer);
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
  }

  button.no-border {
    border: 0px;
  }
}